.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .picture .photo {
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 50%;
}

.header .title {
    
}

