
* {
    font-family:'Roboto','Sans-serif' ;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}



.pokemons {
    list-style:none;
    padding:0px;
    margin: 0px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon {
    display:flex;
    flex-direction:column;
    margin: 0.5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background-color: #14606f;
    color: #fff;
    height:120px;
    
}

.pokemon .number {
    color: #000;
    opacity: .8;
    text-align: right;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
}

.pokemon .detail .types {
    padding: 0; 
    margin: 0; 
    list-style: none;
}

.pokemon .types {
    padding: 0;
    list-style: none;
}

.pokemon .detail img {
    max-width: 100%;
    height:130px;
    align-self: flex-end;
}

